@import url("https://fonts.googleapis.com/css?family=Cantarell:italic|Droid+Serif:bold");
body {
    font-family: "cantarell", sans-serif;
    max-width: 90%;
    margin: auto;
    background-image: url("tony.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    background-attachment: fixed;
    border-style: solid;

}
.header {
    display: flex;
    align-items: center;
}
.face {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 10%;
    
}
.title {
    flex: 1;
    margin-left: 0px;
}
.name {
    color: magenta;

}
.coral {
    color: coral;

}
.qualification {
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.hrline {
    border: 1px solid coral ;
}
.table {
    text-align: center;
    margin-bottom: 10%;
    border-style: solid;
    border-color: coral ;
    height: fit-content;
    color: white;
}
.pics {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
}
.details {
    margin-right: 10%; 

}  
.white {
    color: white;
   
}
.link {
    color:cyan;}
    